.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.codo_topics_boxshadow {
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.codo_topics_on_focus_show {
  display: none;
}
.codo_ajax_article {
  margin-top: 100px;
}
.codo_article_already_visible {
  margin-top: 0 !important;
}
.codo_topics_item_gigante {
  width: 80%;
  height: 496px;
  z-index: 1;
  -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,0.4) !important;
  -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,0.4) !important;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.4) !important;
}
#codo_search_form {
  display: inline-block;
  position: relative;
}
.codo_topics_search {
  width: 200px;
  padding-left: 4px;
  padding-right: 16px;
}
.codo_topics_search:focus {
  box-shadow: none;
  outline: 1px solid #0088cc;
}
#codo_search_cats {
  padding: 5px;
}
.codo_load_more_gif {
  margin: 180px 350px;
  width: 110px;
}
.advanced_search_open .codo_search_flip {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  right: 1px;
}
.advanced_search .row {
  padding: 10px 20px;
}
.advanced_search a {
  position: absolute;
  width: 20px;
  height: 25px;
  display: inline-block;
  top: 0;
  right: 0;
  opacity: 0.5;
  cursor: pointer;
}
.advanced_search a:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}
.advanced_search .advanced_search_dropdown {
  position: absolute;
  top: 10px;
  right: 5px;
  height: 0;
  width: 0;
  border: solid 6px;
  border-color: #000 transparent transparent transparent;
}
.codo_search_advanced_options {
  display: none;
  background: white;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px #ccc;
}
.codo_search_advanced_options label {
  color: #7f7f7f;
  padding-top: 12px !important;
}
.codo_search_advanced_options .codo_input {
  margin: 0;
  width: 100%;
}
.codo_search_advanced_options select {
  background: #fafafa;
  padding: 0;
}
.codo_search_advanced_options #codo_search_sort {
  width: 50%;
}
.codo_upper_container .codo_topics_create {
  width: 68%;
  float: left;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.codo_upper_container .codo_topics_create > .codo_widget {
  height: 100%;
  background: #f6f6f6;
}
.codo_upper_container > article {
  float: left !important;
  margin-bottom: 20px !important;
  width: 68% !important;
}
.codo_upper_container .codo_categories {
  background: white;
  padding: 0;
  border: 1px solid #ccc;
  text-shadow: 0 1px 0 #fff;
  color: #585858;
  width: 30%;
  float: right;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  position: relative;
}
.codo_upper_container .codo_categories .codo_cat_title {
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  color: #222;
  text-align: center;
  background: #eee;
}
.codo_upper_container .codo_categories .codo_cat_img {
  background-color: whitesmoke;
  height: auto;
  padding: 10px;
  text-align: center;
}
.codo_upper_container .codo_categories .codo_cat_img >img {
  width: 85%;
}
.codo_upper_container .codo_categories .codo_cat_desc {
  border-top: 1px solid #ccc;
  padding: 8px;
  font-size: 12px;
  text-align: justify;
}
.codo_upper_container .codo_categories .codo_cat_info {
  border-top: 1px solid #ccc;
  color: #919191;
  border-bottom: 1px solid #ccc;
}
.codo_upper_container .codo_categories .codo_sub_categories_txt {
  padding: 10px;
  color: #555;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.codo_upper_container .codo_categories .codo_categories_category {
  background-color: #f5f5f5;
  color: #585858;
  text-shadow: 0 1px 0 #fff;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top,#fff,#fff);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));
  background-image: -webkit-linear-gradient(top,#fff,#fff);
  background-image: -o-linear-gradient(top,#fff,#fff);
  background-image: linear-gradient(to bottom,#fff,#fff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  border-color: #fff #fff #d9d9d9;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  position: relative;
  min-height: 85px;
  padding: 10px 80px;
  padding-right: 10px;
  display: block;
  text-decoration: none;
}
.codo_upper_container .codo_categories .codo_categories_category:hover,
.codo_upper_container .codo_categories .codo_categories_category:active,
.codo_upper_container .codo_categories .codo_categories_category.active,
.codo_upper_container .codo_categories .codo_categories_category.disabled,
.codo_upper_container .codo_categories .codo_categories_category[disabled] {
  color: #585858;
  background-color: #fff;
  *background-color: #f2f2f2;
}
.codo_upper_container .codo_categories .codo_categories_category:active,
.codo_upper_container .codo_categories .codo_categories_category.active {
  background-color: #e6e6e6 \9;
}
.codo_upper_container .codo_categories .codo_categories_category:hover {
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background: #f6f6f6;
  color: #222;
  text-decoration: none;
}
.codo_upper_container .codo_categories .codo_categories_category > .codo_category_img {
  width: 60px;
  position: absolute;
  left: 10px;
  top: 10px;
  margin-right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.codo_upper_container .codo_categories .codo_categories_category > .codo_category_img > img {
  width: inherit;
  height: 60px;
}
.codo_upper_container .codo_categories .codo_categories_category > .codo_category_title {
  font-weight: bold;
  font-size: 13px;
  margin-top: 8px;
}
.codo_upper_container .codo_categories .codo_categories_category > .codo_category_content {
  color: grey;
  font-size: 11px;
}
.codo_upper_container .codo_categories .codo_categories_category > .codo_category_content > span {
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
}
.codo_topics {
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
  padding: 0;
  max-width: 91.3em;
  margin: 0 auto;
  clear: both;
}
.codo_topics > article {
  border: 1px solid #ccc;
  padding: 0;
  padding-top: 20px;
  background: white;
  position: relative;
  width: 49%;
  margin-bottom: 20px;
  color: #7f7f7f;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.codo_topics > article a {
  text-decoration: none;
  background: transparent;
}
.codo_topics > article a:hover {
  text-decoration: underline;
}
.codo_topics > article .codo_topics_topic_name {
  margin-bottom: 4px;
}
.codo_topics > article .codo_topics_topic_name > a {
  color: #585858;
  font-weight: bold;
}
.codo_topics > article .codo_topics_topic_name > span {
  padding-left: 4px;
}
.codo_topics > article > .codo_topics_topic_content {
  margin-left: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.codo_topics > article > .codo_topics_topic_content .codo_posts_post_moderation {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.7;
}
.codo_topics > article > .codo_topics_topic_content .codo_posts_post_moderation >div {
  margin-bottom: 4px;
  cursor: pointer;
}
.codo_topics > article > .codo_topics_topic_content .codo_posts_post_moderation img {
  width: 16px;
  height: 16px;
}
.codo_topics > article > .codo_topics_topic_content >.codo_topics_topic_title {
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 6px;
}
.codo_topics > article > .codo_topics_topic_content >.codo_topics_topic_title > a {
  color: #3f8cc3;
}
.codo_topics > article > .codo_topics_topic_content >.codo_topics_topic_title > a:hover {
  color: #377eb1;
}
.codo_topics > article > .codo_topics_topic_content > .codo_topics_topic_avatar {
  position: absolute;
  top: 22px;
  left: 20px;
  border: 1px solid #eee;
  padding: 4px;
  -webkit-box-shadow: 0 3px 2px -2px #ccc;
  -moz-box-shadow: 0 3px 2px -2px #ccc;
  box-shadow: 0 3px 2px -2px #ccc;
}
.codo_topics > article > .codo_topics_topic_content > .codo_topics_topic_avatar img {
  width: 36px;
  height: 36px;
}
.codo_topics > article > .codo_topics_topic_message {
  overflow: hidden;
  min-height: 40px;
  max-height: 250px;
  border-top: 1px dotted #eee;
  color: #555;
  padding: 15px 20px;
  word-wrap: break-word;
  margin-bottom: 15px;
  padding-bottom: 0;
}
.codo_topics > article > .codo_topics_topic_message >*:first-child {
  margin-top: 0px !important;
}
.codo_topics > article > .codo_topics_topic_message img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.codo_topics > article > .codo_topics_topic_message pre code {
  font-size: 0.9em;
}
.codo_topics > article > .codo_topics_topic_readmore {
  display: none;
  margin-bottom: 15px;
  margin-left: 20px;
}
.codo_topics > article > .codo_topics_topic_foot {
  padding: 10px;
  border-top: 1px solid #eee;
  color: #585858;
  text-shadow: 0 1px 0 #fff;
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top,#fafafa,#f6f6f6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#f6f6f6));
  background-image: -webkit-linear-gradient(top,#fafafa,#f6f6f6);
  background-image: -o-linear-gradient(top,#fafafa,#f6f6f6);
  background-image: linear-gradient(to bottom,#fafafa,#f6f6f6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#fff6f6f6', GradientType=0);
  border-color: #f6f6f6 #f6f6f6 #d0d0d0;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #f6f6f6;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.codo_topics > article > .codo_topics_topic_foot:hover,
.codo_topics > article > .codo_topics_topic_foot:active,
.codo_topics > article > .codo_topics_topic_foot.active,
.codo_topics > article > .codo_topics_topic_foot.disabled,
.codo_topics > article > .codo_topics_topic_foot[disabled] {
  color: #585858;
  background-color: #f6f6f6;
  *background-color: #e9e9e9;
}
.codo_topics > article > .codo_topics_topic_foot:active,
.codo_topics > article > .codo_topics_topic_foot.active {
  background-color: #dddddd \9;
}
.codo_topics > article > .codo_topics_topic_foot > .codo_topics_no_replies {
  float: left;
  color: #919191;
  cursor: pointer;
  padding-right: 5px;
  padding-left: 5px;
  width: 100px;
}
.codo_topics > article > .codo_topics_topic_foot > .codo_topics_no_replies > span {
  font-family: 'Oswald', sans-serif;
  padding-right: 3px;
  color: #585858;
}
.codo_topics > article > .codo_topics_topic_foot > .codo_topics_no_replies:hover {
  color: #585858;
}
.codo_topics > article > .codo_topics_topic_foot > .codo_topics_last_post {
  color: #919191;
  float: right;
  padding-right: 5px;
}
.codo_topics > article > .codo_topics_topic_img {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 2px solid #eee;
  border-left: 2px solid #eee;
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.codo_topics > article > .codo_topics_topic_img img {
  width: 45px;
}
.codo_topics .codo_left_div {
  float: left;
  clear: left;
}
.codo_topics .codo_right_div {
  float: right;
  clear: right;
}
.codo_topics .codo_widget {
  margin-bottom: 0;
}
.codo_topics .codo_widget .codo_widget-content {
  background: #f6f6f6;
  padding: 24px 21px 10px 20px;
  border: 0;
}
.codo_topics .codo_widget #codo_topic_desc_div {
  -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.25);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 74px;
  background: white;
}
.codo_topics .codo_widget input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.codo_topics .codo_widget .codo_new_reply {
  display: none;
}
.codo_topics .codo_widget #codo_new_topic_loader {
  padding-left: 30px;
  display: none;
}
.codo_topics .codo_widget .end-of-line {
  position: absolute;
  margin-left: -99999px;
}
.codo_no_topics {
  display: none;
  float: left;
  width: 68%;
}
@media (max-width: 800px) {
  .codo_topics_create,
  .codo_upper_container > article,
  .codo_categories,
  .codo_lower_containers article {
    width: 100% !important;
    float: auto;
  }
  .codo_no_topics {
    width: 100%;
  }
  .markItUp .heading {
    display: none !important;
  }
  .codo_cat_imgs {
    display: none;
  }
  .codo_load_more_gif {
    margin: 180px 41% !important;
  }
}
@media (max-width: 480px) {
  .codo_cat_imgs {
    display: block;
  }
}
@media (max-width: 480px) {
  .codo_topics_new_topic {
    margin-right: 0px !important;
    margin-bottom: 10px;
  }
  .codo_topics_topic_content {
    margin-top: 35px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .codo_topics_topic_avatar {
    top: 0 !important;
    left: 20px;
  }
}
