.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.codo_container .codo_widget {
  -webkit-box-shadow: 0 4px 2px -2px #ccc;
  -moz-box-shadow: 0 4px 2px -2px #ccc;
  box-shadow: 0 4px 2px -2px #ccc;
}
.codo_container .codo_widget:before {
  content: "";
  z-index: 999;
  position: absolute;
  top: 0px;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #1f71af #fafafa;
  background: #fafafa;
  display: block;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  width: 0;
}
.codo_container .codo_widget #codo_new_topic_loader {
  padding-left: 30px;
  display: none;
}
