.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.codo_edit_profile {
  background: white;
  padding: 20px;
}
.codo_edit_profile label {
  color: #7f7f7f;
  padding-top: 12px !important;
}
.codo_edit_profile .codo_pass_no_match_txt {
  color: brown;
  display: none;
}
.codo_edit_profile .codo_pass_no_match_txt_again {
  text-decoration: underline;
}
.codo_edit_profile .codo_pass_no_match_txt_twice {
  font-weight: bold;
}
.codo_edit_profile .codo_input {
  margin: 0;
  width: 100%;
}
.codo_edit_profile .codo_input_disabled {
  background: #eee;
  color: grey;
}
.codo_edit_profile .codo_avatar {
  width: 128px;
}
.codo_edit_profile .codo_avatar img {
  height: 98px;
}
.codo_edit_profile .codo_avatar .codo_avatar_img {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}
.codo_edit_profile .codo_avatar .codo_btn {
  width: 98px;
}
.codo_edit_profile .codo_avatar .codo_change_avatar {
  position: absolute;
  height: 32px;
  width: 98px;
  opacity: 0;
  cursor: pointer;
  bottom: 0;
}
.codo_edit_profile .codo_avatar .codo_right_arrow {
  width: 150px;
  height: 97px;
  position: absolute;
  left: 131px;
  top: 0px;
  opacity: 0.8;
  display: none;
}
.codo_edit_profile .codo_avatar .codo_avatar_preview {
  width: 128px;
  padding: 10px;
  border: 1px solid #ccc;
  position: absolute;
  left: 300px;
  top: 0;
  display: none;
}
.codo_edit_profile textarea {
  resize: vertical;
  min-height: 100px;
}
.codo_edit_profile #codo_countdown_signature_characters {
  font-family: Oswald, Helvetica;
  letter-spacing: 0.09em;
  color: #222;
}
