.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.codo_posts article .codo_posts_user_spec {
  display: none;
}
.codo_modal_mini {
  top: 30%;
  left: 65%;
  width: 35%;
}
.codo_modal_mini .codo_modal_body {
  padding-top: 0;
}
.codo_pagination_at_full_width {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  margin-top: 0 !important;
  padding-left: 15px;
}
#codo_search_form {
  display: inline-block;
  position: relative;
}
.codo_topics_search {
  width: 200px;
  padding-left: 4px;
  padding-right: 16px;
}
.codo_topics_search:focus {
  box-shadow: none;
  outline: 1px solid #0088cc;
}
#codo_search_cats {
  padding: 5px;
}
.advanced_search_open .codo_search_flip {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  right: 1px;
}
.advanced_search .row {
  padding: 10px 20px;
}
.advanced_search a {
  position: absolute;
  width: 20px;
  height: 25px;
  display: inline-block;
  top: 0;
  right: 0;
  opacity: 0.5;
  cursor: pointer;
}
.advanced_search a:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}
.advanced_search .advanced_search_dropdown {
  position: absolute;
  top: 10px;
  right: 5px;
  height: 0;
  width: 0;
  border: solid 6px;
  border-color: #000 transparent transparent transparent;
}
.codo_search_advanced_options {
  display: none;
  background: white;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px #ccc;
  margin: 0 14px;
}
.codo_search_advanced_options label {
  color: #7f7f7f;
  padding-top: 12px !important;
}
.codo_search_advanced_options .codo_input {
  margin: 0;
  width: 100%;
}
.codo_search_advanced_options select {
  background: #fafafa;
  padding: 0;
}
.codo_search_advanced_options #codo_search_sort {
  width: 50%;
}
.codo_container {
  margin-top: 30px;
}
.codo_container .codo_new_reply {
  position: fixed;
  right: 0;
  width: 100%;
  padding: 20px 15px;
  border: 1px solid #ccc;
  bottom: 0;
  background: #ffffff;
  -webkit-box-shadow: 0 0 14px 3px grey;
  -moz-box-shadow: 0 0 14px 3px grey;
  box-shadow: 0 0 14px 3px grey;
  display: inline-block;
  display: none;
}
.codo_container pre {
  padding: 0;
}
.codo_container .codo_posts {
  margin-top: 6px;
}
.codo_container .codo_posts .codo_spinner {
  background: url('../img/ajax-loader-black.gif');
  background-repeat: no-repeat;
  width: 30px;
  height: 10px;
  position: absolute;
  top: 10px;
  right: 55px;
  display: none;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-header {
  height: auto;
  overflow: hidden;
  line-height: 50px;
  -webkit-box-shadow: 1px 2px 1px #808080;
  -moz-box-shadow: 1px 2px 1px #808080;
  box-shadow: 1px 2px 1px #808080;
  margin-bottom: 3px;
  padding: 0;
  padding-top: 0;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-header h1 {
  margin: 0 !important;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-xs-1,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-sm-1,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-md-1,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-lg-1,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-xs-2,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-sm-2,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-md-2,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-lg-2,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-xs-3,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-sm-3,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-md-3,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-lg-3,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-xs-4,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-sm-4,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-md-4,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-lg-4,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-xs-5,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-sm-5,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-md-5,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-lg-5,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-xs-6,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-sm-6,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-md-6,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-lg-6,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-xs-7,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-sm-7,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-md-7,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-lg-7,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-xs-8,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-sm-8,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-md-8,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-lg-8,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-xs-9,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-sm-9,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-md-9,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-lg-9,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-xs-10,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-sm-10,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-md-10,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-lg-10,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-xs-11,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-sm-11,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-md-11,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-lg-11,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-xs-12,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-sm-12,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-md-12,
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .col-lg-12 {
  padding-right: 0 !important;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .codo_topic_title {
  padding-top: 10px;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .codo_topic_title > a {
  text-shadow: 0px 1px 0px #585858;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Droid Sans';
  color: #f7f7f7 !important;
  text-decoration: none !important;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .codo_topic_title > a h1 {
  margin: 0;
  font-size: 1.2em;
  margin-top: 0.5em;
  font-weight: bold;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .codo_topic_title > a:hover {
  color: white !important;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row #codo_topic_title_pagination {
  float: right;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .codo_head_navigation {
  margin-right: 10px;
  cursor: pointer;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  font-size: 13px;
  font-family: Oswald, sans-serif;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .codo_head_navigation a {
  text-decoration: none;
  display: inline-block;
  color: white;
  width: 44px;
  text-align: center;
  background: #227abd;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  height: 100%;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .codo_head_navigation a:hover {
  -webkit-box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5);
  background: #1f71af;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .codo_head_navigation .codo_topics_curr_page {
  -webkit-box-shadow: inset 0px 0px 8px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 8px rgba(0,0,0,0.5);
  color: #f0f0f0;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-header .row .codo_head_navigation .codo_topics_curr_page:hover {
  background: #227abd;
  -webkit-box-shadow: inset 0px 0px 8px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 8px rgba(0,0,0,0.5);
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content {
  padding: 0;
  border: 0;
  background: #fafafa;
  font-family: 'Droid Sans', Helvetica;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content .codo_deleted_post {
  background: #eee;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  color: #585858;
  text-shadow: 0 1px 0 #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: Helvetica;
  -webkit-box-shadow: inset 0 0 5px 1px #ccc;
  -moz-box-shadow: inset 0 0 5px 1px #ccc;
  box-shadow: inset 0 0 5px 1px #ccc;
  position: relative;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content .codo_deleted_post .codo_spinner {
  display: none;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content .codo_deleted_post >div {
  display: inline-block;
  float: right;
  margin-right: 5px;
  cursor: pointer;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content .codo_deleted_post >div >span {
  color: #2a6496;
  display: inline-block;
  float: left;
  visibility: hidden;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content .codo_deleted_post >div:hover >span {
  text-decoration: underline;
  color: #2a6496;
  display: inline-block;
  visibility: visible;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content .codo_deleted_post >div >div {
  background: url('../img/undo.png');
  background-size: contain;
  width: 18px;
  height: 22px;
  display: inline-block;
  background-repeat: no-repeat;
  opacity: 0.8;
  margin-left: 5px;
  -webkit-transition: all 0.5s cubic-bezier(.2,-0.36,.71,1.45);
  -moz-transition: all 0.5s cubic-bezier(.2,-0.36,.71,1.45);
  -o-transition: all 0.5s cubic-bezier(.2,-0.36,.71,1.45);
  transition: all 0.5s cubic-bezier(.2,-0.36,.71,1.45);
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content .codo_deleted_post >div >div:hover {
  opacity: 1;
  -webkit-transition: all 10s ease;
  -moz-transition: all 10s ease;
  -o-transition: all 10s ease;
  transition: all 10s ease;
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article {
  border: 1px solid #ccc;
  padding: 0;
  padding-top: 20px;
  position: relative;
  margin-bottom: 6px;
  background: white;
  color: #585858;
  -webkit-transition: 2s background ease;
  -moz-transition: 2s background ease;
  -o-transition: 2s background ease;
  transition: 2s background ease;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_spinner {
  left: -22px;
  top: 30px;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article a {
  text-decoration: none;
  background: transparent;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article a:hover {
  text-decoration: underline;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_post_moderation {
  position: absolute;
  right: 10px;
  top: 10px;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_post_moderation >div {
  margin-bottom: 4px;
  cursor: pointer;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_post_moderation img {
  width: 16px;
  height: 16px;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info {
  margin-left: 85px;
  margin-right: 60px;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_post_avatar {
  position: absolute;
  top: 22px;
  left: 20px;
  border: 1px solid #eee;
  padding: 4px;
  -webkit-box-shadow: 0 3px 2px -2px #ccc;
  -moz-box-shadow: 0 3px 2px -2px #ccc;
  box-shadow: 0 3px 2px -2px #ccc;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_post_avatar img {
  width: 36px;
  height: 36px;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_post_avatar:after {
  left: 100%;
  top: 25%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136,183,213,0);
  border-left-color: #eee;
  border-width: 8px;
  margin-top: -10px;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_post_desc {
  color: #999;
  font-family: 'Droid Sans';
  margin-bottom: 6px;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_post_name {
  margin-bottom: 4px;
  margin-top: 1px;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_post_name > a {
  color: #585858;
  font-weight: bold;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_post_name > span {
  padding-left: 4px;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_user_spec {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #ccc;
  color: #585858;
  text-shadow: 0 1px 0 #fff;
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top,#fff,#eee);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#eee));
  background-image: -webkit-linear-gradient(top,#fff,#eee);
  background-image: -o-linear-gradient(top,#fff,#eee);
  background-image: linear-gradient(to bottom,#fff,#eee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #eee #eee #c8c8c8;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_user_spec:hover,
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_user_spec:active,
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_user_spec.active,
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_user_spec.disabled,
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_user_spec[disabled] {
  color: #585858;
  background-color: #eee;
  *background-color: #e1e1e1;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_user_spec:active,
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_user_spec.active {
  background-color: #d5d5d5 \9;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_user_spec hr {
  margin: 0;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article .codo_posts_user_info > .codo_posts_user_spec > div {
  padding: 4px;
  border-bottom: 1px solid #ccc;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_content {
  word-break: break-word;
  padding: 20px;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_content > .codo_posts_post_message {
  word-break: break-word;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_content > .codo_posts_post_message >*:first-child {
  margin-top: 0px !important;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_content > .codo_posts_post_message img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_content > .codo_posts_post_message pre code {
  font-size: 0.9em;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_content > .codo_posts_post_imessage {
  display: none;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_content > .codo_posts_signature {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  font-size: 13px;
  padding-top: 5px;
  color: #7f7f7f;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot {
  *zoom: 1;
  padding: 6px;
  color: #585858;
  text-shadow: none;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top,#f6f6f6,#eee);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f6f6f6),to(#eee));
  background-image: -webkit-linear-gradient(top,#f6f6f6,#eee);
  background-image: -o-linear-gradient(top,#f6f6f6,#eee);
  background-image: linear-gradient(to bottom,#f6f6f6,#eee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #eee #eee #c8c8c8;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-top: 1px solid #ccc;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot:before,
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot:after {
  display: table;
  content: "";
  line-height: 0;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot:after {
  clear: both;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot:hover,
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot:active,
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot.active,
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot.disabled,
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot[disabled] {
  color: #585858;
  background-color: #eee;
  *background-color: #e1e1e1;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot:active,
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot.active {
  background-color: #d5d5d5 \9;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot > .codo_posts_post_action {
  float: right;
  padding-right: 10px;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot > .codo_posts_post_action .codo_btn_def {
  -webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  height: 32px;
  padding: 5px;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot > .codo_posts_post_action .codo_btn {
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot > .codo_posts_post_action .codo_btn,
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot > .codo_posts_post_action .codo_btn_def {
  float: left;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot > .codo_posts_post_action .codo_btn img,
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot > .codo_posts_post_action .codo_btn_def img {
  width: 16px;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > article > .codo_posts_post_foot > .codo_posts_post_action a {
  text-decoration: none;
}
.codo_container .codo_posts > .codo_widget > .codo_widget-content > .codo_topic_separator {
  margin-top: 6px;
  margin-bottom: 6px;
  border: 1px dotted #eee;
}
.codo_container .codo_topic {
  margin-top: 6px;
  border: 1px solid #ccc;
  background: white;
  text-shadow: 0 1px 0 #fff;
  color: #585858;
  padding: 0;
  width: 24%;
  -webkit-box-shadow: 0 4px 2px -2px #ccc;
  -moz-box-shadow: 0 4px 2px -2px #ccc;
  box-shadow: 0 4px 2px -2px #ccc;
}
.codo_container .codo_topic > .codo_topic_statistics > .codo_topic_no_views {
  display: inline-block;
}
.codo_container .codo_topic > .codo_topic_statistics > .codo_topic_no_views > span {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
@media only screen and (max-width: 480px),only screen and (max-device-width: 640px) {
  .codo_posts_post_moderation img {
    display: block !important;
  }
}
@media (max-width: 767px) {
  #codo_topic_title_pagination {
    text-align: right;
  }
  #codo_topic_title_pagination a {
    width: 44px;
  }
  .codo_container .codo_topic {
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .codo_topic_title {
    width: 100% !important;
  }
  #codo_topic_title_pagination {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin-top: 0 !important;
    padding-left: 15px;
  }
}
@media (max-width: 991px) {
  #codo_topic_title_pagination {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin-top: 0 !important;
    padding-left: 15px;
  }
}
@media (max-width: 480px) {
  #codo_topic_title_pagination {
    display: block;
    text-align: left;
    padding-left: 15px;
  }
  #codo_topic_title_pagination a {
    width: 10%;
    height: 24px;
    line-height: 24px;
  }
}
