@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Sans'), local('DroidSans'), url('../fonts/Droid.woff') format('woff');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url('../fonts/Oswald.woff') format('woff');
}

body {

    background: #111041;
    color: white;
    font-family: 'Droid Sans', Helvetica;
}

.codo_steps {

    margin-top: 50px;
    position: relative;
}

.codo_steps .codo_steps_stripe {

    background: #ccc;
    height: 4px;
    border-radius: 4px;
}


.codo_steps_stripe_progress {

    background: white;
    height: 4px;
    position: relative;
    border-radius: 4px;
    top: -4px;
    width: 0;
}

.codo_progress_step1 {

    width: 15%;
}

.codo_progress_step2 {

    width: 50%;
}

.codo_progress_step3 {

    width: 80%;
}

.codo_steps .step_body {

    position: absolute;
    top: -23px;

}
.codo_steps .codo_step {

    border: 4px solid #eee;
    border-radius: 10px;

    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #222;
    padding: 12px 17px;
    font-weight: bold;
    font-family: Oswald, Helvetica;
    margin-left: 20%;
}

.codo_steps .codo_step_active {

    background: #0d0d33;
    color: white;
    box-shadow: inset 4px 4px 9px #060618;
}

.codo_steps .codo_step_complete {

    background: white;
    color: white;
    border-color: white;
}

.codo_separator {

    margin-top: 50px;
    margin-bottom: 50px;
}

.well {

    background: #0a0926;
    color: white;
    border: 1px solid #0a0926;
    box-shadow: inset 0px 0px 6px #060618;
}

.codo_license {

    margin-top: 10px;
}

.codo_license textarea {

    width: 100%;
    min-height: 300px;    
}

.btn-dark {

    border-radius: 0;
    background-color: #0a0926;

    margin-top: 10px;
    box-shadow: 1px 2px 1px #060618;
    border: 2px solid black;
    -webkit-font-smoothing: antialiased;
    color: whitesmoke;
    width: 200px;
}

.btn-dark:hover {

    color: white;
    background-color: #060618;

}

.codo_premission_errors ul {

}

.codo_input {

    font-size: 14px;
    color: #222;
    font-family: "Droid Sans";
    padding: 5px;
    background-color: #fdfdfd;
    width: 100%;
    display: block;
    border: 1px solid black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: inset 2px 2px 4px #f1f1f1;
    outline: none;

}

.codo_input:focus {

    outline: 1px solid #060618;

}

legend {

    color: white;
    font-family: Oswald;
    font-weight: bold;    
}

.codo_notification {

    padding: 5px;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), inset 0 1px 0 rgba(255,255,255,0.6);
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
    font-weight: bold;
    margin-bottom: 10px;
}

.codo_notification_error {

    background: #900216;
    border: 1px solid #4d010c;
    text-shadow: 0 1px 1px #b2021b;
    color: #3c0109;
    box-shadow: 0 1px 1px #4d010c, inset 0 1px 0 #4d010c;
}
